@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Acme Consulting</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Acme Consulting</h2>
        <p>
           Acme Consulting is the leading consulting company in the area of cat behavior, specializing in on how to keep them from waking you up at 3:00 AM
        </p>
    </div>
</div>